.app{

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #eef4ff 0%,
        #ffffff 100%
    );

}

.section-title{

    font-size:1.8rem;

    font-weight:700;

    color:#1e293b;

    margin-bottom:1rem;

}

.card{

    background:white;

    border-radius:22px;

    padding:24px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}

.gradient-text{

    background:linear-gradient(
    90deg,
    #4f46e5,
    #7c3aed
    );

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.primary-btn{

    background:linear-gradient(
    90deg,
    #4f46e5,
    #7c3aed
    );

    color:white;

    padding:14px 30px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    transition:.3s;

    font-weight:600;

}

.primary-btn:hover{

    transform:translateY(-2px);

    box-shadow:
    0 10px 20px rgba(79,70,229,.25);

}

input{

    outline:none;

}

input:focus{

    border-color:#4f46e5;

}